<canvas #canvas></canvas>
<div id="info">
    <div class="row">
        <div class="col">
            <button class="btn btn-secondary float-right" (click)="resetPosition()"><i
                    class="fas fa-sun fa-lg text-warning"></i></button>
        </div>
        <div class="col">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span *ngIf="selectedConstellationSummary">{{selectedConstellationSummary.latinName}}</span>
                    <span *ngIf="!selectedConstellationSummary">Constellations</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" (click)="clearConstellations()">None</a>
                    <a class="dropdown-item" [class.active]="selectedConstellationSummary == constellation"
                        *ngFor="let constellation of constellations" (click)="showConstellation(constellation)">
                        {{constellation.latinName}}</a>
                </div>
            </div>
        </div>
    </div>

</div>